doctype html
html(lang='en')
  head
    include menu.pug
  body
    .jumbotron.text-center
      h1 Entertainment
    title Tool Bar
    

    include navbar.pug
    .container
      h2  News
    .container
      .row
        .col-md-4
          .thumbnail
            a(href='images/dg.jpg')
              img(src='images/dg.jpg' alt='Lights' style='width:100%')
              .caption
                h4 Dolce and Gabbana； 杜嘉班纳
                p 杜嘉班纳因为一个广告被指出有种族歧视的嫌疑。广告中有一个亚洲女人被展示的有点呆傻，用筷子吃pizza。杜嘉班纳在事发之后出来给出道歉，但是，为杜嘉班纳的亚洲品牌大使的迪丽热巴依然跟杜嘉班纳解除了合作关系。之间事情对杜嘉的班纳的身价造成了总大的打击。
        .col-md-4
          .thumbnail
            a(href='images/hua.jpg')
              img(src='images/hua.jpg' alt='Nature' style='width:100%')
              .caption
                h4 Huaqiangbei; 华强北
                p 深圳的华强北是一个生产山寨品的地点。华强北现在不仅可以在别人的产品上进行复制也可以自己开发关于人工智能的科技。华强北的高效率和无所不能的创造力是很多国家无法超越的。之前的复制是政府对知识产权的松懈所造成的，但是现在政府严格管理之下，华强北应该会遇到些麻烦。
        .col-md-4
          .thumbnail
            a(href='images/trade.jpg')
              img(src='images/trade.jpg' alt='Fjords' style='width:100%')
              .caption
                h4 Trade War; 中美贸易战
                p 中美贸易战现在对两国的经济和关系构成了很大影响。美国开始贸易战的原因是因为特朗普认为美国在贸易上的开销太过庞大。在中国的进口商品上附加关税会省下一大笔开销。一开始美国的经济因此上升了不少但是很快中国开始反击，美国的经济不但没有提高反而一路下滑。现在两国之间的关系非常僵。

    
